
<h1>一覧</h1>

<table class="">


  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


